<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/folije.css">
    <title>Folije</title>
</head>
<body>
    <header>
        <sectionv class="header_container">
            <nav class="navbar">
                <div class="nav_top">
                    <div class="logo">
                        <img src="/assets/img/aft-logo1.png" alt="logo" class="logo_img">
                    </div>
                    <div class="bars">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
                <ul class="hamburger_ul">
                    <li class="hamburger_li"><a href="/">POCETNA</a></li>
                    <li class="hamburger_li"><a href="/02-folije">FOLIJE</a></li>
                    <li class="hamburger_li"><a href="/03-projekti">PROJEKTI</a></li>
                    <li class="hamburger_li"><a href="/04-onama">O NAMA</a></li>
                    <li class="hamburger_li"><a href="/05-contact">KONTAKT</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <main>
        <section class="main_container_text">
            <div class="heading_folije">
                <h1 class="folije">
                    FOLIJE
                </h1>
            </div>
            <div class="folije_description">
                <h1 class="heading_folije_description">
                    U koje folije mozete da presvucete auto i zatamnite sajbe.
                </h1>
            </div>
            <div class="text_folije_description">
                <p class="text_folije_description_p">
                    Klikom na foliju prikazite primjere auta u toj boji!
                </p>
            </div>
        </section>
        <section class="main_container_folije">
            <div class="folije_img">
                <div class="folija_img_container"><a href="/projekti"><img src="/assets/img/placeholder.jpg" alt="folija" class="folija_img"></a></div>
                <div class="folija_img_container"><a href="/projekti"><img src="/assets/img/placeholder.jpg" alt="folija" class="folija_img"></a></div>
                <div class="folija_img_container"><a href="/projekti"><img src="/assets/img/placeholder.jpg" alt="folija" class="folija_img"></a></div>
                <div class="folija_img_container"><a href="/projekti"><img src="/assets/img/placeholder.jpg" alt="folija" class="folija_img"></a></div>
                <div class="folija_img_container"><a href="/projekti"><img src="/assets/img/placeholder.jpg" alt="folija" class="folija_img"></a></div>
                <div class="folija_img_container"><a href="/projekti"><img src="/assets/img/placeholder.jpg" alt="folija" class="folija_img"></a></div>
                <div class="folija_img_container"><a href="/projekti"><img src="/assets/img/placeholder.jpg" alt="folija" class="folija_img"></a></div>
                <div class="folija_img_container"><a href="/projekti"><img src="/assets/img/placeholder.jpg" alt="folija" class="folija_img"></a></div>
                <div class="folija_img_container"><a href="/projekti"><img src="/assets/img/placeholder.jpg" alt="folija" class="folija_img"></a></div>
                <div class="folija_img_container"><a href="/projekti"><img src="/assets/img/placeholder.jpg" alt="folija" class="folija_img"></a></div>
                <div class="folija_img_container"><a href="/projekti"><img src="/assets/img/placeholder.jpg" alt="folija" class="folija_img"></a></div>
                <div class="folija_img_container"><a href="/projekti"><img src="/assets/img/placeholder.jpg" alt="folija" class="folija_img"></a></div>
                <div class="folija_img_container"><a href="/projekti"><img src="/assets/img/placeholder.jpg" alt="folija" class="folija_img"></a></div>
                <div class="folija_img_container"><a href="/projekti"><img src="/assets/img/placeholder.jpg" alt="folija" class="folija_img"></a></div>
                <div class="folija_img_container"><a href="/projekti"><img src="/assets/img/placeholder.jpg" alt="folija" class="folija_img"></a></div>
                <div class="folija_img_container"><a href="/projekti"><img src="/assets/img/placeholder.jpg" alt="folija" class="folija_img"></a></div>
                <div class="folija_img_container"><a href="/projekti"><img src="/assets/img/placeholder.jpg" alt="folija" class="folija_img"></a></div>
                <div class="folija_img_container"><a href="/projekti"><img src="/assets/img/placeholder.jpg" alt="folija" class="folija_img"></a></div>
                <div class="folija_img_container"><a href="/projekti"><img src="/assets/img/placeholder.jpg" alt="folija" class="folija_img"></a></div>
                <div class="folija_img_container"><a href="/projekti"><img src="/assets/img/placeholder.jpg" alt="folija" class="folija_img"></a></div>                
            </div>
        </section>
    </main>
    <footer>
        <div class="socials">
            <a href=""><img src="/assets/img/icons8-gmail-50.png" class="icon_socials" alt="gmail"></a>
            <a href="https://web.telegram.org/a/"><img src="/assets/img/telegram.png" class="icon_socials" alt="telegram"></a>
            <a href="https://www.instagram.com/urkee99/"><img src="/assets/img/icons8-instagram-50.png" class="icon_socials" alt="intagram"></a>
            <a href="https://www.facebook.com/uros.kljecanin.90"><img src="/assets/img/facebook.png" class="icon_socials" alt="facebook"></a>
        </div>
        <div class="number_gmail">
            <h1 class="gmail_socials">ukinatpr124@gmail.com</h1>
            <h1 class="number_socials">+38765294798</h1>
            <h1 class="copyright">&copy; ukinatpr124.com</h1>
        </div>
    </footer>
    <script src="/assets/js/navbar.js"></script>
</body>
</html>