<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/projekti.css">
    <title>Projekti</title>
</head>
<body>
    <header>
        <sectionv class="header_container">
            <nav class="navbar">
                <div class="nav_top">
                    <div class="logo">
                        <img src="/assets/img/aft-logo1.png" alt="logo_img" class="logo_img">
                    </div>
                    <div class="bars">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
                <ul class="hamburger_ul">
                    <li class="hamburger_li"><a href="/">POCETNA</a></li>
                    <li class="hamburger_li"><a href="/02-folije">FOLIJE</a></li>
                    <li class="hamburger_li"><a href="/03-projekti">PROJEKTI</a></li>
                    <li class="hamburger_li"><a href="/04-onama">O NAMA</a></li>
                    <li class="hamburger_li"><a href="/05-contact">KONTAKT</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <main>
        <section class="main_container">
            <div class="projekti_heading">
                <h1 class="projekti_heading_text">NASI PROJEKTI</h1>
            </div>
            <div class="projekti_auta">
                <div class="projekti_auta_text">
                    <h1>Komplet presvucena auta</h1>
                </div>
                <div class="auta">
                    <div class="auta_img_container"><img src="/assets/img/crvena/Screenshot_85.png" alt="" class="auta_img crvena_auta"></div>
                    <div class="auta_img_container"><img src="/assets/img/zuta/Screenshot_177 - Copy.png" alt="" class="auta_img zuta_auta"></div>
                    <div class="auta_img_container"><img src="/assets/img/zelena/Screenshot_15.png" alt="" class="auta_img zelena_auta"></div>
                    <div class="auta_img_container"><img src="/assets/img/plava/Screenshot_161.png" alt="" class="auta_img plava_auta"></div>
                    <div class="auta_img_container"><img src="/assets/img/roza/Screenshot_221.png" alt="" class="auta_img roza_auta"></div>
                    <div class="auta_img_container"><img src="/assets/img/bijela/Screenshot_106.png" alt="" class="auta_img bijela_auta"></div>
                    <div class="auta_img_container"><img src="/assets/img/crna/Screenshot_184.png" alt="" class="auta_img crna_auta"></div>
                    <div class="auta_img_container"><img src="/assets/img/siva/Screenshot_213.png" alt="" class="auta_img siva_auta"></div>
                </div>
            </div>
            <div class="pop_up_window">
                <img src="/assets/img/left-arrow.png" alt="" class="left_arrow">
                <div class="slider">
                    <div class="img_container">
                        <img src="/assets/img/crvena/Screenshot_158.png" class="auto_img" alt="">
                        <img src="/assets/img/crvena/Screenshot_159.png" class="auto_img" alt="">
                        <img src="/assets/img/crvena/Screenshot_160.png" class="auto_img" alt="">
                        <img src="/assets/img/crvena/Screenshot_168.png" class="auto_img" alt="">
                        <img src="/assets/img/crvena/Screenshot_169.png" class="auto_img" alt="">
                        <img src="/assets/img/crvena/Screenshot_170.png" class="auto_img" alt="">
                        <img src="/assets/img/crvena/Screenshot_171.png" class="auto_img" alt="">
                        <img src="/assets/img/crvena/Screenshot_171.png" class="auto_img" alt="">
                        <img src="/assets/img/crvena/Screenshot_172.png" class="auto_img" alt="">
                        <img src="/assets/img/crvena/Screenshot_193.png" class="auto_img" alt="">
                        <img src="/assets/img/crvena/Screenshot_194.png" class="auto_img" alt="">
                        <img src="/assets/img/crvena/Screenshot_195.png" class="auto_img" alt="">
                        <img src="/assets/img/crvena/Screenshot_196.png" class="auto_img" alt="">
                        <img src="/assets/img/crvena/Screenshot_197.png" class="auto_img" alt="">
                        <img src="/assets/img/crvena/Screenshot_85.png"  class="auto_img"alt="">
                        <img src="/assets/img/crvena/Screenshot_86.png"  class="auto_img"alt="">
                        <img src="/assets/img/crvena/Screenshot_87.png"  class="auto_img"alt="">
                        <img src="/assets/img/crvena/Screenshot_88.png"  class="auto_img"alt="">
                        <img src="/assets/img/crvena/Screenshot_89.png"  class="auto_img"alt="">
                        <img src="/assets/img/crvena/Screenshot_90.png"  class="auto_img"alt="">
                        <img src="/assets/img/crvena/Screenshot_91.png"  class="auto_img"alt="">
                        <img src="/assets/img/crvena/Screenshot_92.png"  class="auto_img"alt="">
                        <img src="/assets/img/crvena/Screenshot_93.png"  class="auto_img"alt="">
                        <img src="/assets/img/crvena/Screenshot_94.png"  class="auto_img"alt="">
                        <img src="/assets/img/crvena/Screenshot_95.png"  class="auto_img"alt="">
                        <img src="/assets/img/crvena/Screenshot_96.png"  class="auto_img"alt="">
                    </div>
                </div>
                <div class="arrow_right_exit">
                    <h1 class="exit_pop_up">X</h1>
                    <img src="/assets/img/left-arrow.png" alt="" class="right_arrow">
                </div>
            </div>
            <div class="pop_up_window_yellow">
                <img src="/assets/img/left-arrow.png" alt="" class="left_arrow_yellow">
                <div class="slider">
                    <div class="img_container_yellow">
                        <img src="/assets/img/zuta/Screenshot_76.png" class="auto_img_yellow" alt="">
                        <img src="/assets/img/zuta/Screenshot_77.png" class="auto_img_yellow" alt="">
                        <img src="/assets/img/zuta/Screenshot_78.png" class="auto_img_yellow" alt="">
                        <img src="/assets/img/zuta/Screenshot_79.png" class="auto_img_yellow" alt="">
                        <img src="/assets/img/zuta/Screenshot_80.png" class="auto_img_yellow" alt="">
                        <img src="/assets/img/zuta/Screenshot_81.png" class="auto_img_yellow" alt="">
                        <img src="/assets/img/zuta/Screenshot_82.png" class="auto_img_yellow" alt="">
                        <img src="/assets/img/zuta/Screenshot_83.png" class="auto_img_yellow" alt="">
                        <img src="/assets/img/zuta/Screenshot_84.png" class="auto_img_yellow" alt="">
                        <img src="/assets/img/zuta/Screenshot_173.png" class="auto_img_yellow" alt="">
                        <img src="/assets/img/zuta/Screenshot_174.png" class="auto_img_yellow" alt="">
                        <img src="/assets/img/zuta/Screenshot_175.png" class="auto_img_yellow" alt="">
                        <img src="/assets/img/zuta/Screenshot_176.png" class="auto_img_yellow" alt="">
                        <img src="/assets/img/zuta/Screenshot_177.png" class="auto_img_yellow" alt="">
                        <img src="/assets/img/zuta/Screenshot_178.png"  class="auto_img_yellow"alt="">
                        <img src="/assets/img/zuta/Screenshot_179.png"  class="auto_img_yellow"alt="">
                        <img src="/assets/img/zuta/Screenshot_198.png"  class="auto_img_yellow"alt="">
                        <img src="/assets/img/zuta/Screenshot_199.png"  class="auto_img_yellow"alt="">
                        <img src="/assets/img/zuta/Screenshot_200.png"  class="auto_img_yellow"alt="">
                        <img src="/assets/img/zuta/Screenshot_201.png"  class="auto_img_yellow"alt="">
                        <img src="/assets/img/zuta/Screenshot_202.png"  class="auto_img_yellow"alt="">
                    </div>
                </div>
                <div class="arrow_right_exit_yellow">
                    <h1 class="exit_pop_up_yellow">X</h1>
                    <img src="/assets/img/left-arrow.png" alt="" class="right_arrow_yellow">
                </div>
            </div>
            <div class="pop_up_window_green">
                <img src="/assets/img/left-arrow.png" alt="" class="left_arrow_green">
                <div class="slider">
                    <div class="img_container_green">
                        <img src="/assets/img/zelena/Screenshot_2.png" class="auto_img_green" alt="">
                        <img src="/assets/img/zelena/Screenshot_3.png" class="auto_img_green" alt="">
                        <img src="/assets/img/zelena/Screenshot_4.png" class="auto_img_green" alt="">
                        <img src="/assets/img/zelena/Screenshot_5.png" class="auto_img_green" alt="">
                        <img src="/assets/img/zelena/Screenshot_6.png" class="auto_img_green" alt="">
                        <img src="/assets/img/zelena/Screenshot_7.png" class="auto_img_green" alt="">
                        <img src="/assets/img/zelena/Screenshot_8.png" class="auto_img_green" alt="">
                        <img src="/assets/img/zelena/Screenshot_9.png" class="auto_img_green" alt="">
                        <img src="/assets/img/zelena/Screenshot_10.png" class="auto_img_green" alt="">
                        <img src="/assets/img/zelena/Screenshot_11.png" class="auto_img_green" alt="">
                        <img src="/assets/img/zelena/Screenshot_12.png" class="auto_img_green" alt="">
                        <img src="/assets/img/zelena/Screenshot_13.png" class="auto_img_green" alt="">
                        <img src="/assets/img/zelena/Screenshot_14.png" class="auto_img_green" alt="">
                        <img src="/assets/img/zelena/Screenshot_15.png" class="auto_img_green" alt="">
                        <img src="/assets/img/zelena/Screenshot_16.png"  class="auto_img_green"alt="">
                        <img src="/assets/img/zelena/Screenshot_17.png"  class="auto_img_green"alt="">
                        <img src="/assets/img/zelena/Screenshot_18.png"  class="auto_img_green"alt="">
                        <img src="/assets/img/zelena/Screenshot_19.png"  class="auto_img_green"alt="">
                        <img src="/assets/img/zelena/Screenshot_143.png"  class="auto_img_green"alt="">
                        <img src="/assets/img/zelena/Screenshot_144.png"  class="auto_img_green"alt="">
                        <img src="/assets/img/zelena/Screenshot_145.png"  class="auto_img_green"alt="">
                        <img src="/assets/img/zelena/Screenshot_146.png"  class="auto_img_green"alt="">
                        <img src="/assets/img/zelena/Screenshot_147.png"  class="auto_img_green"alt="">
                        <img src="/assets/img/zelena/Screenshot_165.png"  class="auto_img_green"alt="">
                        <img src="/assets/img/zelena/Screenshot_166.png"  class="auto_img_green"alt="">
                        <img src="/assets/img/zelena/Screenshot_167.png"  class="auto_img_green"alt="">
                        <img src="/assets/img/zelena/Screenshot_203.png"  class="auto_img_green"alt="">
                        <img src="/assets/img/zelena/Screenshot_204.png"  class="auto_img_green"alt="">
                        <img src="/assets/img/zelena/Screenshot_205.png"  class="auto_img_green"alt="">
                        <img src="/assets/img/zelena/Screenshot_206.png"  class="auto_img_green"alt="">
                        <img src="/assets/img/zelena/Screenshot_207.png"  class="auto_img_green"alt="">
                        <img src="/assets/img/zelena/Screenshot_208.png"  class="auto_img_green"alt="">
                        <img src="/assets/img/zelena/Screenshot_209.png"  class="auto_img_green"alt="">
                    </div>
                </div>
                <div class="arrow_right_exit_green">
                    <h1 class="exit_pop_up_green">X</h1>
                    <img src="/assets/img/left-arrow.png" alt="" class="right_arrow_green">
                </div>
            </div>
            <div class="pop_up_window_blue">
                <img src="/assets/img/left-arrow.png" alt="" class="left_arrow_blue">
                <div class="slider">
                    <div class="img_container_blue">
                        <img src="/assets/img/plava/Screenshot_161.png" class="auto_img_blue" alt="">
                        <img src="/assets/img/plava/Screenshot_162.png" class="auto_img_blue" alt="">
                        <img src="/assets/img/plava/Screenshot_163.png" class="auto_img_blue" alt="">
                        <img src="/assets/img/plava/Screenshot_164.png" class="auto_img_blue" alt="">
                        <img src="/assets/img/plava/Screenshot_180.png" class="auto_img_blue" alt="">
                        <img src="/assets/img/plava/Screenshot_181.png" class="auto_img_blue" alt="">
                        <img src="/assets/img/plava/Screenshot_182.png" class="auto_img_blue" alt="">
                        <img src="/assets/img/plava/Screenshot_183.png" class="auto_img_blue" alt="">
                    </div>
                </div>
                <div class="arrow_right_exit_blue">
                    <h1 class="exit_pop_up_blue">X</h1>
                    <img src="/assets/img/left-arrow.png" alt="" class="right_arrow_blue">
                </div>
            </div>
            <div class="pop_up_window_pink">
                <img src="/assets/img/left-arrow.png" alt="" class="left_arrow_pink">
                <div class="slider">
                    <div class="img_container_pink">
                        <img src="/assets/img/roza/Screenshot_218.png" class="auto_img_pink" alt="">
                        <img src="/assets/img/roza/Screenshot_219.png" class="auto_img_pink" alt="">
                        <img src="/assets/img/roza/Screenshot_220.png" class="auto_img_pink" alt="">
                        <img src="/assets/img/roza/Screenshot_221.png" class="auto_img_pink" alt="">
                        <img src="/assets/img/roza/Screenshot_222.png" class="auto_img_pink" alt="">
                        <img src="/assets/img/roza/Screenshot_223.png" class="auto_img_pink" alt="">
                        <img src="/assets/img/roza/Screenshot_224.png" class="auto_img_pink" alt="">
                        <img src="/assets/img/roza/Screenshot_225.png" class="auto_img_pink" alt="">
                        <img src="/assets/img/roza/Screenshot_226.png" class="auto_img_pink" alt="">
                    </div>
                </div>
                <div class="arrow_right_exit_pink">
                    <h1 class="exit_pop_up_pink">X</h1>
                    <img src="/assets/img/left-arrow.png" alt="" class="right_arrow_pink">
                </div>
            </div>
            <div class="pop_up_window_white">
                <img src="/assets/img/left-arrow.png" alt="" class="left_arrow_white">
                <div class="slider">
                    <div class="img_container_white">
                        <img src="/assets/img/bijela/Screenshot_1.png" class="auto_img_white" alt="">
                        <img src="/assets/img/bijela/Screenshot_33.png" class="auto_img_white" alt="">
                        <img src="/assets/img/bijela/Screenshot_34.png" class="auto_img_white" alt="">
                        <img src="/assets/img/bijela/Screenshot_35.png" class="auto_img_white" alt="">
                        <img src="/assets/img/bijela/Screenshot_36.png" class="auto_img_white" alt="">
                        <img src="/assets/img/bijela/Screenshot_37.png" class="auto_img_white" alt="">
                        <img src="/assets/img/bijela/Screenshot_38.png" class="auto_img_white" alt="">
                        <img src="/assets/img/bijela/Screenshot_39.png" class="auto_img_white" alt="">
                        <img src="/assets/img/bijela/Screenshot_40.png" class="auto_img_white" alt="">
                        <img src="/assets/img/bijela/Screenshot_41.png" class="auto_img_white" alt="">
                        <img src="/assets/img/bijela/Screenshot_101.png" class="auto_img_white" alt="">
                        <img src="/assets/img/bijela/Screenshot_102.png" class="auto_img_white" alt="">
                        <img src="/assets/img/bijela/Screenshot_103.png" class="auto_img_white" alt="">
                        <img src="/assets/img/bijela/Screenshot_104.png" class="auto_img_white" alt="">
                        <img src="/assets/img/bijela/Screenshot_105.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_106.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_107.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_108.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_109.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_110.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_111.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_112.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_113.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_114.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_115.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_116.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_117.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_118.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_119.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_137.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_138.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_139.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_140.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_141.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_142.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_152.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_153.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_188.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_189.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_190.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_191.png"  class="auto_img_white"alt="">
                        <img src="/assets/img/bijela/Screenshot_192.png"  class="auto_img_white"alt="">
                    </div>
                </div>
                <div class="arrow_right_exit_white">
                    <h1 class="exit_pop_up_white">X</h1>
                    <img src="/assets/img/left-arrow.png" alt="" class="right_arrow_white">
                </div>
            </div>
            <div class="pop_up_window_black">
                <img src="/assets/img/left-arrow.png" alt="" class="left_arrow_black">
                <div class="slider">
                    <div class="img_container_black">
                        <img src="/assets/img/crna/Screenshot_20.png" class="auto_img_black" alt="">
                        <img src="/assets/img/crna/Screenshot_23.png" class="auto_img_black" alt="">
                        <img src="/assets/img/crna/Screenshot_24.png" class="auto_img_black" alt="">
                        <img src="/assets/img/crna/Screenshot_27.png" class="auto_img_black" alt="">
                        <img src="/assets/img/crna/Screenshot_30.png" class="auto_img_black" alt="">
                        <img src="/assets/img/crna/Screenshot_31.png" class="auto_img_black" alt="">
                        <img src="/assets/img/crna/Screenshot_32.png" class="auto_img_black" alt="">
                        <img src="/assets/img/crna/Screenshot_129.png" class="auto_img_black" alt="">
                        <img src="/assets/img/crna/Screenshot_130.png" class="auto_img_black" alt="">
                        <img src="/assets/img/crna/Screenshot_131.png" class="auto_img_black" alt="">
                        <img src="/assets/img/crna/Screenshot_132.png" class="auto_img_black" alt="">
                        <img src="/assets/img/crna/Screenshot_133.png" class="auto_img_black" alt="">
                        <img src="/assets/img/crna/Screenshot_148.png" class="auto_img_black" alt="">
                        <img src="/assets/img/crna/Screenshot_149.png" class="auto_img_black" alt="">
                        <img src="/assets/img/crna/Screenshot_150.png"  class="auto_img_black"alt="">
                        <img src="/assets/img/crna/Screenshot_151.png"  class="auto_img_black"alt="">
                        <img src="/assets/img/crna/Screenshot_184.png"  class="auto_img_black"alt="">
                        <img src="/assets/img/crna/Screenshot_185.png"  class="auto_img_black"alt="">
                        <img src="/assets/img/crna/Screenshot_186.png"  class="auto_img_black"alt="">
                        <img src="/assets/img/crna/Screenshot_187.png"  class="auto_img_black"alt="">
                    </div>
                </div>
                <div class="arrow_right_exit_black">
                    <h1 class="exit_pop_up_black">X</h1>
                    <img src="/assets/img/left-arrow.png" alt="" class="right_arrow_black">
                </div>
            </div>
            <div class="pop_up_window_gray">
                <img src="/assets/img/left-arrow.png" alt="" class="left_arrow_gray">
                <div class="slider">
                    <div class="img_container_gray">
                        <img src="/assets/img/siva/Screenshot_122.png" class="auto_img_gray" alt="">
                        <img src="/assets/img/siva/Screenshot_123.png" class="auto_img_gray" alt="">
                        <img src="/assets/img/siva/Screenshot_124.png" class="auto_img_gray" alt="">
                        <img src="/assets/img/siva/Screenshot_125.png" class="auto_img_gray" alt="">
                        <img src="/assets/img/siva/Screenshot_126.png" class="auto_img_gray" alt="">
                        <img src="/assets/img/siva/Screenshot_127.png" class="auto_img_gray" alt="">
                        <img src="/assets/img/siva/Screenshot_128.png" class="auto_img_gray" alt="">
                        <img src="/assets/img/siva/Screenshot_210.png" class="auto_img_gray" alt="">
                        <img src="/assets/img/siva/Screenshot_211.png" class="auto_img_gray" alt="">
                        <img src="/assets/img/siva/Screenshot_212.png" class="auto_img_gray" alt="">
                        <img src="/assets/img/siva/Screenshot_213.png" class="auto_img_gray" alt="">
                        <img src="/assets/img/siva/Screenshot_214.png" class="auto_img_gray" alt="">
                        <img src="/assets/img/siva/Screenshot_215.png" class="auto_img_gray" alt="">
                    </div>
                </div>
                <div class="arrow_right_exit_gray">
                    <h1 class="exit_pop_up_gray">X</h1>
                    <img src="/assets/img/left-arrow.png" alt="" class="right_arrow_gray">
                </div>
            </div>
            <div class="projekti_sajbe">
                <div  class="projekti_sajbi_text">
                    <h1>Presvlacenje sajbi</h1>
                </div>
                <div class="sajbe">
                    <img src="/assets/img/sajbe/Screenshot_71.png" alt="" class="sajbe_img sajbe_auta">
                </div>
            </div>
            <div class="pop_up_window_sajbe">
                <img src="/assets/img/left-arrow.png" alt="" class="left_arrow_sajbe">
                <div class="slider">
                    <div class="img_container_sajbe">
                        <img src="/assets/img/sajbe/Screenshot_42.png" class="auto_img_sajbe" alt="">
                        <img src="/assets/img/sajbe/Screenshot_43.png" class="auto_img_sajbe" alt="">
                        <img src="/assets/img/sajbe/Screenshot_44.png" class="auto_img_sajbe" alt="">
                        <img src="/assets/img/sajbe/Screenshot_45.png" class="auto_img_sajbe" alt="">
                        <img src="/assets/img/sajbe/Screenshot_46.png" class="auto_img_sajbe" alt="">
                        <img src="/assets/img/sajbe/Screenshot_47.png" class="auto_img_sajbe" alt="">
                        <img src="/assets/img/sajbe/Screenshot_48.png" class="auto_img_sajbe" alt="">
                        <img src="/assets/img/sajbe/Screenshot_49.png" class="auto_img_sajbe" alt="">
                        <img src="/assets/img/sajbe/Screenshot_50.png" class="auto_img_sajbe" alt="">
                        <img src="/assets/img/sajbe/Screenshot_60.png" class="auto_img_sajbe" alt="">
                        <img src="/assets/img/sajbe/Screenshot_61.png" class="auto_img_sajbe" alt="">
                        <img src="/assets/img/sajbe/Screenshot_62.png" class="auto_img_sajbe" alt="">
                        <img src="/assets/img/sajbe/Screenshot_63.png" class="auto_img_sajbe" alt="">
                        <img src="/assets/img/sajbe/Screenshot_64.png" class="auto_img_sajbe" alt="">
                        <img src="/assets/img/sajbe/Screenshot_65.png"  class="auto_img_sajbe"alt="">
                        <img src="/assets/img/sajbe/Screenshot_66.png"  class="auto_img_sajbe"alt="">
                        <img src="/assets/img/sajbe/Screenshot_67.png"  class="auto_img_sajbe"alt="">
                        <img src="/assets/img/sajbe/Screenshot_68.png"  class="auto_img_sajbe"alt="">
                        <img src="/assets/img/sajbe/Screenshot_69.png"  class="auto_img_sajbe"alt="">
                        <img src="/assets/img/sajbe/Screenshot_70.png"  class="auto_img_sajbe"alt="">
                        <img src="/assets/img/sajbe/Screenshot_71.png"  class="auto_img_sajbe"alt="">
                        <img src="/assets/img/sajbe/Screenshot_72.png"  class="auto_img_sajbe"alt="">
                        <img src="/assets/img/sajbe/Screenshot_73.png"  class="auto_img_sajbe"alt="">
                        <img src="/assets/img/sajbe/Screenshot_74.png"  class="auto_img_sajbe"alt="">
                        <img src="/assets/img/sajbe/Screenshot_75.png"  class="auto_img_sajbe"alt="">
                        <img src="/assets/img/sajbe/Screenshot_97.png"  class="auto_img_sajbe"alt="">
                    </div>
                </div>
                <div class="arrow_right_exit_sajbe">
                    <h1 class="exit_pop_up_sajbe">X</h1>
                    <img src="/assets/img/left-arrow.png" alt="" class="right_arrow_sajbe">
                </div>
            </div>
            <div class="projekti_enterijeri">
                <div class="projekti_enterijeri_text">
                    <h1>Presvlacenje enterijera</h1>
                </div>
                <div class="enterijeri">
                    <img src="/assets/img/enterijeri/Screenshot_59.png" alt="" class="enterijeri_img enterijeri_auta">
                </div>
            </div>
            <div class="pop_up_window_enterijeri">
                <img src="/assets/img/left-arrow.png" alt="" class="left_arrow_enterijeri">
                <div class="slider">
                    <div class="img_container_enterijeri">
                        <img src="/assets/img/enterijeri/Screenshot_51.png" class="auto_img_enterijeri" alt="">
                        <img src="/assets/img/enterijeri/Screenshot_52.png" class="auto_img_enterijeri" alt="">
                        <img src="/assets/img/enterijeri/Screenshot_53.png" class="auto_img_enterijeri" alt="">
                        <img src="/assets/img/enterijeri/Screenshot_54.png" class="auto_img_enterijeri" alt="">
                        <img src="/assets/img/enterijeri/Screenshot_55.png" class="auto_img_enterijeri" alt="">
                        <img src="/assets/img/enterijeri/Screenshot_56.png" class="auto_img_enterijeri" alt="">
                        <img src="/assets/img/enterijeri/Screenshot_57.png" class="auto_img_enterijeri" alt="">
                        <img src="/assets/img/enterijeri/Screenshot_58.png" class="auto_img_enterijeri" alt="">
                        <img src="/assets/img/enterijeri/Screenshot_59.png" class="auto_img_enterijeri" alt="">
                        <img src="/assets/img/enterijeri/Screenshot_120.png" class="auto_img_enterijeri" alt="">
                        <img src="/assets/img/enterijeri/Screenshot_121.png" class="auto_img_enterijeri" alt="">
                        <img src="/assets/img/enterijeri/Screenshot_134.png" class="auto_img_enterijeri" alt="">
                        <img src="/assets/img/enterijeri/Screenshot_135.png" class="auto_img_enterijeri" alt="">
                        <img src="/assets/img/enterijeri/Screenshot_136.png" class="auto_img_enterijeri" alt="">
                    </div>
                </div>
                <div class="arrow_right_exit_enterijeri">
                    <h1 class="exit_pop_up_enterijeri">X</h1>
                    <img src="/assets/img/left-arrow.png" alt="" class="right_arrow_enterijeri">
                </div>
            </div>
            <div class="projekti_ambijenti">
                <div class="projekti_ambijenti_text">
                    <h1>Uredjivanje ambijenta</h1>
                </div>
                <div class="ambijenti">
                    <img src="/assets/img/placeholder.jpg" alt="" class="ambijenti_img ambijenti_auta">
                </div>
            </div>
            <div class="pop_up_window_ambijenti">
                <img src="/assets/img/left-arrow.png" alt="" class="left_arrow_ambijenti">
                <div class="slider">
                    <div class="img_container_ambijenti">
                        <!-- images to put -->



                    </div>
                </div>
                <div class="arrow_right_exit_ambijenti">
                    <h1 class="exit_pop_up_ambijenti">X</h1>
                    <img src="/assets/img/left-arrow.png" alt="" class="right_arrow_ambijenti">
                </div>
            </div>
            <div class="projekti_farovi">
                <div class="projekti_farovi_text">
                    <h1>Poliranje farova</h1>
                </div>
                <div class="farovi">
                    <img src="/assets/img/farovi/Screenshot_29.png" alt="" class="farovi_img farovi_auta">
                </div>
            </div>
            <div class="pop_up_window_farovi">
                <img src="/assets/img/left-arrow.png" alt="" class="left_arrow_farovi">
                <div class="slider">
                    <div class="img_container_farovi">
                        <img src="/assets/img/farovi/Screenshot_21.png" class="auto_img_farovi" alt="">
                        <img src="/assets/img/farovi/Screenshot_22.png" class="auto_img_farovi" alt="">
                        <img src="/assets/img/farovi/Screenshot_25.png" class="auto_img_farovi" alt="">
                        <img src="/assets/img/farovi/Screenshot_26.png" class="auto_img_farovi" alt="">
                        <img src="/assets/img/farovi/Screenshot_28.png" class="auto_img_farovi" alt="">
                        <img src="/assets/img/farovi/Screenshot_29.png" class="auto_img_farovi" alt="">
                        <img src="/assets/img/farovi/Screenshot_154.png" class="auto_img_farovi" alt="">
                        <img src="/assets/img/farovi/Screenshot_155.png" class="auto_img_farovi" alt="">
                        <img src="/assets/img/farovi/Screenshot_156.png" class="auto_img_farovi" alt="">
                    </div>
                </div>
                <div class="arrow_right_exit_farovi">
                    <h1 class="exit_pop_up_farovi">X</h1>
                    <img src="/assets/img/left-arrow.png" alt="" class="right_arrow_farovi">
                </div>
            </div>
            <div class="projekti_namjestaj">
                <div class="projekti_namjestaj_text">
                    <h1>Presvlacenje namjestaja</h1>
                </div>
                <div class="namjestaj">
                    <img src="/assets/img/placeholder.jpg" alt="" class="namjestaj_img namjestaj_auta">
                </div>
            </div>
            <div class="pop_up_window_namjestaj">
                <img src="/assets/img/left-arrow.png" alt="" class="left_arrow_namjestaj">
                <div class="slider">
                    <div class="img_container_namjestaj">
                        <!-- images to put -->





                    </div>
                </div>
                <div class="arrow_right_exit_namjestaj">
                    <h1 class="exit_pop_up_namjestaj">X</h1>
                    <img src="/assets/img/left-arrow.png" alt="" class="right_arrow_namjestaj">
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="socials">
            <a href=""><img src="/assets/img/icons8-gmail-50.png" class="icon_socials" alt="gmail"></a>
            <a href="https://web.telegram.org/a/"><img src="/assets/img/telegram.png" class="icon_socials" alt="telegram"></a>
            <a href="https://www.instagram.com/urkee99/"><img src="/assets/img/icons8-instagram-50.png" class="icon_socials" alt="intagram"></a>
            <a href="https://www.facebook.com/uros.kljecanin.90"><img src="/assets/img/facebook.png" class="icon_socials" alt="facebook"></a>
        </div>
        <div class="number_gmail">
            <h1 class="gmail_socials">ukinatpr124@gmail.com</h1>
            <h1 class="number_socials">+38765294798</h1>
            <h1 class="copyright">&copy; ukinatpr124.com</h1>
        </div>
    </footer>
    <script src="/assets/js/navbar.js"></script>
    <script src="/assets/js/img.js"></script>
    <script src="/assets/js/autaImgWindow.js"></script>
</body>
</html>